<div class="card mb-0">
  <div class="row g-0">
    <div
      class="col-3"
      [ngClass]="{
        'd-flex align-items-center justify-content-center': !image_url
      }"
    >
      @if(image_url){
      <img
        [src]="image_url"
        class="rounded-start"
        style="
          height: 50px !important;
          width: 50px;
          object-fit: fill !important;
        "
        [alt]="title"
      />} @else{
      <h6 class="fw-bold">AAS</h6>
      }
    </div>
    <div class="col-9">
      <ng-content></ng-content>
    </div>
  </div>
</div>
