<div class="row">
  <div class="col-md-9">
    <div class="row py-3">
      <div class="col logo-font text-uppercase">
        <h5>
           Major Space Agencies around the world
        </h5>
      </div>
    </div>
    <div class="row">
      @if(agencyList$ | async;as agencyList) { @for (item of agencyList.results;
      track $index) {
      <!-- d-none d-md-block -->
      <div class="col-12">
        <div class="card shadow mb-3">
          <div class="row g-0">
            <div class="col-4">
              <img
                [src]="item.logo_url"
                class="img-fluid rounded m-3"
                [alt]="item.name"
              />
            </div>
            <div class="col-8">
              <div class="card-body ps-5">
                <h6
                  class="card-text fw-bold d-inline-block w-100"
                  [title]="item.name"
                >
                {{ $index + 1 }} - {{ item.name }} 
                </h6>
                <p class="card-text d-inline-block mb-0  w-100">
                  <!-- <span                   
                    class="badge text-bg-light"
                    >{{ item.type }}</span
                  > -->
                  <i class="bi bi-dot"></i> {{item.type}}
                </p>
                <p class="card-text mb-0 d-none d-md-block d-inline-block w-100">
                  <i class="bi bi-dot"></i>  {{ item.administrator }}
                </p>
                <p class="card-text mb-3 d-inline-block  w-100">
                  <i class="bi bi-dot"></i> Headquartered in {{ item.country_name }}
                </p>
                <a
                  [routerLink]="['/agencies', item.id]"
                  class="btn btn-sm btn-outline-warning text-uppercase"
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 0.75rem;
                  "
                  >More about the Agency
                </a>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-xs-block d-md-none col-xs-12 mb-2">
        <div class="card shadow w-100">
          <img
            [src]="item.logo_url"
            class="card-img-top img-fluid rounded"
            [alt]="item.name"
          />
          <div class="card-body text-center">
            <h6
              class="card-title fw-bold d-inline-block text-truncate m-0 w-100"
              [title]="item.name"
            >
             {{ $index+1 }} - {{ item.name }}
            </h6>
            <p class="d-inline-block mb-1 text-truncate w-100">
              <span
                title="Launch Service Provider"
                class="badge text-bg-light"
                >{{ item.type }}</span
              >
            </p>
            <p class="mb-0 d-inline-block text-truncate w-100">
              {{ item.administrator }}
            </p>
            <p class="mb-0 d-inline-block text-truncate w-100">
              Headquartered in {{ item.country_name }}
            </p>
            <a
              [routerLink]="['/agencies', item.id]"
              class="stretched-link"
            >
            </a>
          </div>
        </div>
      </div> -->

      } }
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
